.grid {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.row {
  display: flex;
  gap: 6px;
}
.cell {
  width: 40px;
  height: 40px;
  border: 1px solid rgb(46, 12, 240);
  cursor: pointer;
}

.cell.active {
  background-color: rgb(0, 85, 128);
}

.cell.playing {
  outline: 2px solid orange;
}

button {
  margin-top: 20px;
  padding: 10px 16px;
  border-radius: 8px;
  border: none;
  background: #222;
  color: white;
  cursor: pointer;
}

.guitar {
  background: yellow;
}

.drums {
  background: blue;
}